.menuAsliBackground {
     -fx-background-image:url("file:src/Graphics/Picture/b44.jpg");
     -fx-background-size: 100% 100%;
}
.menu-button{
    -fx-background-image:url("file:src/Graphics/Picture/b55.png");
    -fx-background-radius: 50;
    -fx-background-size: 100% 100%;

}
